.root {
	theme-color-primary: #3789db;
	theme-color-secondary: #2c3e50;
	theme-color-red: #e83a3a;
	theme-color-orange: #f28211;
	theme-color-background: #ffffff;
	theme-color-shadowed: #f0f0f0;
	theme-color-dropshadow: #00000033;
	/* I can't find this in the javaFX spec, only color look up is supported */
	theme-dropshadow: dropshadow(three-pass-box, theme-color-dropshadow, 10, 0, 0, 0);
}
.LoginScreen {
	-fx-background-color: theme-color-shadowed;
}
.LoginScreen > VBox {
   -fx-background-color: theme-color-background;
   -fx-effect: theme-dropshadow;
}
.LoginScreen > VBox > Label {
	-fx-text-fill: theme-color-secondary;
}
.loginButton {
	-fx-background-color: theme-color-primary;
	-fx-text-fill: theme-color-background;
}

.navigationMenu {
	-fx-background-color: theme-color-secondary;
}

.menuScrollPane {
	-fx-background-color: theme-color-secondary;
}
.MenuItem {
	-fx-cursor: hand;
}
.MenuItem:hover {
	-fx-background-color: theme-color-primary;
}

.contentPane {
	-fx-background-color: theme-color-shadowed;
}
.Header {
	-fx-background-color: theme-color-primary;
}
.logoutButton {
	-fx-background-color: theme-color-red;
	-fx-text-fill: theme-color-background;
}

.MetricCard {
	-fx-background-color: theme-color-background;
	-fx-effect: theme-dropshadow;
	-fx-background-radius: 5;
}

.addButton {
	-fx-background-color: theme-color-primary;
	-fx-text-fill: theme-color-background;
}
.editButton {
	-fx-background-color: theme-color-orange;
	-fx-text-fill: theme-color-background;
}
.deleteButton {
	-fx-background-color: theme-color-red;
	-fx-text-fill: theme-color-background;
}

.profileGrid {
	-fx-background-color: theme-color-background;
	-fx-effect: theme-dropshadow;
}
.avatarPane {
	-fx-background-color: theme-color-shadowed;
	-fx-background-radius: 60;
}
.uploadPhotoButton {
	-fx-background-color: theme-color-primary;
	-fx-text-fill: theme-color-background;
}
.updatePasswordButton {
	-fx-background-color: theme-color-primary;
	-fx-text-fill: theme-color-background;
}

.navButton {
	-fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
	-fx-padding: 2 10 3 10;
}

.navArrow {
	-fx-background-radius: 0;
	-fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
	-fx-background-insets: 1 0 -1 0, 0;
	-fx-padding: 3 6.75 3 3.75;
	-fx-shape: "M 0 0 h 7 l -3.5 4 z";
}